beautifulsoup4
ollama
rich
requests
openai
python-dotenv
gradio
pillow
pydub
transformers
--extra-index-url https://download.pytorch.org/whl/cu122
torch
bitsandbytes
accelerate
langchain
langchain-openai
langchain-chroma
langchain-community
langchain-huggingface
sentence-transformers
langchain-ollama
